.reservation__link-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .reservation__link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 1200px;
    justify-content: space-between;
  }
}