.footer { 
  margin: 0 auto;
  background-color: #0B265A;
}

@media screen and (min-width: 768px) {
  .footer { 
    min-width: 100%;
    margin: 0 auto;
    background-color: #0B265A;
  }
}

@media screen and (min-width: 1024px) {
  .footer { 
    min-width: 1440px;
    margin: 0 auto;
    background-color: #0B265A;
  }
}