.header__list {
  display: flex;
  justify-content: space-between;
  width: 308px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen  and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}