.button {
  padding: 16px 32px;
  background-color: #0E1734;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  cursor: pointer;
}